# KiCad files
# export files for BOM
	*.csv
	*.tsv
	*.xml
# backup files
	*.bak
# local project settings
	*.kicad_prl
	fp-info-cache
# Other
	.DS_Store
Firmware/Arduino_RP2040-Zero/.DS_Store
Electronic Design/SAO_Core4_V0.2 Design Files KiCAD 8/.DS_Store
Datasheets/.DS_Store
Electronic Design/SAO_Core4_V0.2 Schematic and Renders/.DS_Store
Electronic Design/.DS_Store
Documentation/.DS_Store
Electronic Design/.DS_Store
Electronic Design/SAO_Core4_V0.1.1 Schematic/.DS_Store
Electronic Design/.DS_Store
Electronic Design/SAO_Core4_V0.2 Design Files KiCAD 8 (WIP)/.DS_Store
Electronic Design/SAO_Core4_V0.2 Schematic and Renders (WIP)/.DS_Store
Electronic Design/.DS_Store
Images/.DS_Store
Electronic Design/.DS_Store
Electronic Design/SAO_Core4_V0.2 Manufacturing/.DS_Store
Electronic Design/.DS_Store
Electronic Design/.DS_Store
